Flask 
torch 
torchvision 
nltk
langchain
langchainhub
streamlit
bs4
chromadb
tiktoken
unstructured
chainlit
libmagic
langchain-community
langchain-groq
sentence_transformers
langchain_huggingface

langchain-text-splitters
langchain-chroma