torch 
torchvision 
langchain
langchainhub
streamlit
bs4
chromadb
tiktoken
unstructured
libmagic
langchain-community
langchain-groq
sentence_transformers
langchain_huggingface

langchain-text-splitters
langchain-chroma

fastapi
uvicorn